<h1 mat-dialog-title>{{titre}}</h1>
<div mat-dialog-content>
    <form [formGroup]="categoryForm">
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput placeholder="Ordinateurs portables">
            <mat-icon matSuffix>text_fields</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Quantité</mat-label>
            <input type ="number" formControlName="quantite"  matInput placeholder="40">
            <mat-icon matSuffix>iso</mat-icon>
          </mat-form-field>
      
    </form>
</div>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="primary" (click)="ajouterCat()">{{actionBtn}}</button>
          <button style="margin-left: 8px" mat-raised-button color="warn" mat-dialog-close>Annuler</button>
</div>
